.control-light {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.4s,
    background 0.4s;
}

.control-light.on {
  background: linear-gradient(
    135deg,
    #ff8e3c,
    #ff8e3c
  ); /* Gradient nền khi bật */
  color: white; /* Màu chữ khi bật */
}

.control-light.off {
  background: #fff; /* Nền trắng khi tắt */
  color: black; /* Màu chữ khi tắt */
}

.control-light:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Tăng shadow khi hover */
}

.control-light-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Bo tròn icon */
}

.control-light-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-light-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

.control-light-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-light-button {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.control-panel {
  display: flex;
  gap: 20px;
  justify-content: center;
}
