.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ant-spin .ant-spin-dot {
  font-size: 48px;
}

.ant-spin .ant-spin-dot i {
  background-color: #ff8e3c;
}

.thing-data-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  transition:
    height 0.5s ease,
    opacity 0.5s ease;
  overflow: hidden;
}

.thing-data-overlay:hover {
  height: 100%;
}

.thing-data-content {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.thing-data-overlay:hover .thing-data-content {
  opacity: 1;
}

.thing-data-overlay h3 {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.thing-data-overlay h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.thing-data-content h3 {
  opacity: 1 !important;
}

.thing-data-overlay:hover h3 {
  opacity: 1;
}
