.user-info-page {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 150px; /* Kích thước nhỏ hơn cho avatar */
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 400px; /* Tăng khoảng cách giữa avatar và text */
  }
  
  .upload-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
.username {
  font-size: 24px; /* Tăng kích thước font cho username */
  font-weight: bold;
  margin-right: 20px; /* Khoảng cách giữa username và ngày tạo */
  white-space: nowrap; /* Hiển thị username trên một dòng */
}

.created-at {
  font-size: 18px; /* Tăng kích thước font cho ngày tạo */
  color: gray;
  margin-bottom: 10px; /* Khoảng cách giữa dòng ngày tạo và dòng nút chỉnh sửa */
}

  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Khoảng cách giữa dòng nút chỉnh sửa và các phần tử khác */
  }
  
  .general-info,
  .edit-form {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .form-input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 18px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .action-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: #fff;
  }
  
  .save-button {
    background: #28a745;
    color: #fff;
  }
  
  .cancel-button {
    background: #dc3545;
    color: #fff;
  }
  
  .change-password-button {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: #fff;
  }
  
  .edit-button {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: #fff;
    margin-left: 20px;
  }
  
  .logout-button {
    background: #dc3545;
    color: #fff;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .info-row label {
    font-weight: bold;
    width: 40%;
  }
  
  .info-row span {
    width: 60%;
    text-align: left;
  }
  
  .infor-secure {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  